/*CSS chung*/
*{ box-sizing: border-box   ;
    padding: 0;
    margin: 0;}

    ul{
        list-style: none;
    }
    a,p{
        text-decoration: none;
        font-family: Courier ;
        
    }
    img{
        width: 100%;
    } 
    .btn{
        border:none;
        border-radius: 5px;
        padding:10px 20px;
    }
    :root{
        --dark-color: #222;
        --linght-color: #fff;
    }
    
    
    
    #header{
        /* cố định header */
        top:0;
        width: 100%;
        position: fixed;  
        height: 100px; 
        z-index: 1;
    }
    #header-top{
        background-color: #fff;
        text-align: center;
        
    }
    .header-top{
        /* vào giữa màn hình */
        max-width: 1000px;
        margin: auto;
        /* các item nằm ngang */
        display: flex;
        flex-direction: row;      
    }
    .icon-logo{
        font-size: 3rem;
        color:#222;
    }
    .icon-account {
        color:#222;
        font-size: 2rem;
    }
    .icon-cart
    {
        color:#222;
        font-size: 2rem;
        margin: 0px 20px;
    
    }
     .icon-search{
        color:#222;
    }
    .item-header{
        padding: 5px 50px;
    }
    .item-header:last-child{
        margin-left: auto;
    }
    .input-text{
        width: 200px;
        height: 25px;
    }
    
    
    
    
    
    
    
    
    
    /* Css cho navbar */
    #nav-bar{
      
        background-color: var(--dark-color);
        width: 100%;
        /* Cố đinh thanh nav */
        
    }
    
    .menu-level-1{
       
        /* vào giữa màn hình */
        max-width: 900px;
        margin: auto;
        /* các item nằm ngang */
        display: flex;
        flex-direction: row;    
    }
    
    .item-menu-level-1{
        padding: 16px 20px;
    }
    .item-menu-level-1 a,i{
        color: var(--linght-color);
        font-size: 16px;
        line-height: 20px;
    }
    .item-menu-level-1:hover{
        background-color: #000;
    }
    .item-menu-level-1:hover > a{
        color:yellow;
        text-decoration: bold;
    }
    /* Rê chuột vào hiển thị menu cấp 1 */
    .item-menu-level-1:hover .menu-level-2{
        /* display: block; */
        visibility: visible;
        opacity: 1;
        top: 100px;
    }
    
    /* định dang menu cấp 2 chung */
    .menu-level-2{
        border: 1px solid #fff;
        background-color: #fff;
        border-radius: 8%;
        box-shadow: 0.5px 1px 3px;
        position: absolute;
        top: 110px;
        /* display: none; */
        visibility: hidden;
        opacity: 0;
        transition: all 0.4s ease-in-out;
    }
    .menu-level-2 a{
        color: var(--dark-color);
    }
    /* định dạng các dòng trong menu cấp 2 */
    .menu-level-2 .item-menu-level-2{
        padding: 10px 20px;
    }
    
    .menu-level-2 .item-menu-level-2:hover{
        background-color:gray;
    }
    .menu-level-2 .item-menu-level-2:hover >a{
        color: #fff;
    }
    
    .item-menu-level-2:hover .menu-level-3{
        /* display: block; */
        visibility: visible;
        opacity: 1;
        left: 103%;
    }
    
    
    
    .menu-level-3{
        border: 1px solid #fff;
        box-shadow: 1px 2px 4px;
        position:absolute	;
        left: 110%;   
        width:250px;
        background-color: #fff;
        
        /* display: none; */
        /* Tạo hiệu ứng */
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }
    .menu-level-3 a{
        color: var(--dark-color);
    }
    /* định dạng các dòng trong menu cấp 3 */
    .menu-level-3 .item-menu-level-3{
        padding: 10px 20px;
    }
    .menu-level-3 .item-menu-level-3:hover{
        background-color:gray;
    }
    .menu-level-3 .item-menu-level-3:hover a{
        color: #fff;
    }
    
    
    
    
    
    
    
    
    /* phần footer */
    #footer{
        background-color: #000;
       
    
    }
    .table-footer{
        
        margin: auto;
    }
    .noi-dung-footer{
        color:#fff;
    }
    .noi-dung-footer a{
        color:#fff;
    }
    h3, h4{
        padding: 20px 0px 0px;
        color:#fff;
    }
    td{
        vertical-align: top;
        padding: 0px 30px;
    }
    .hr-tag-footer{
        width: 80px;
        margin: 30px 0px;
    }
    .icon-mxh{
        margin: 10px 0px;
    }
    
    .icon-mxh a {
     margin: 0px 5px;
    }
    /* chỉnh độ lớn icon mạng xã hội */
    .item-icon-mxh{
        font-size: 1.6rem;
    }
    .noi-dung-footer
    {
        margin: 10px 0px;
    }
    .noi-dung-footer a:hover{
        color:yellow;
    }
    .copyright{
        color:#fff;
        text-align: center;
    }
    .hr-tag-footer-2{
        height:0.3px;
        border:none;
        color:#fff;
        background-color:#fff;
        width: 100%;
        margin: 20px 0px;
    }
    
    
    
    
    
    
    /* Phần main */
    #main{
        color: #000;
        /* Tránh cho thanh nav che mất nội dung */
       margin: 130px 30px;
    }
    
    
    
    
    /* danh sách sản phẩm */
    #products{
        max-width: 1000px;
        margin:auto;
    }
    #products .items-product{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
    }
    #products .items-product .item{
        border:1px solid #ddd;
        box-shadow: 1px 2px 3px #ddd;
        padding:5px 10px;
        border-radius: 5px;
        
    }
    #products .items-product .item:hover{
        box-shadow: 3px 4px 5px #ddd;
    }
    #products .items-product .item .item-name{
        font-size: 20px;
        line-height: 30px;
        margin: 10px 0px;
    
    }
    #products .items-product .item .item-price{
        margin-bottom: 20px;
        
    }
    #products .items-product .item .item-price-old{
        font-size: 15px;
        text-decoration: line-through;
        
    }
    #products .items-product .item .item-price-new{
        font-size: 18px;
        color:red;
    }
    
    #products .items-product .item .snip1582{
    display: block;
    margin-left: auto;
    }
    #products .items-product .item .item-photo{
        position: relative;
        text-align: center;
        /* z-index: 2; */
    
    }
    #products .items-product  .item .item-discount{
        /* z-index: 1; */
        background-color: red;
        color: #fff;
        padding: 5px;
        position: absolute;
        top:2px;
        left:2px;
    }
   
    
    /* css button add cart */
    .snip1582 {
        background:#1abc9c;
        padding:10px 10px;
        font-size:16px;
        color:#fff;
        font-weight: bold;
        margin:5px;
        border:none;
        border-radius:10px;
        box-shadow:0 3px gray;
        cursor:pointer;
        outline:none;
    }
    .snip1582:active{
        transform:translate(0,4px);
        box-shadow:0 2px gray;  
    }
    .snip1582:hover{
        background:#117e68;
    }

    
    
    body {font-family: Arial, Helvetica, sans-serif;}
        
    /* Full-width input fields */
    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    
    /* Set a style for all buttons */
    button {
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }
    
    button:hover {
      opacity: 0.8;
    }
    
    /* Extra styles for the cancel button */
    .cancelbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #f44336;
    }
    
    /* Center the image and position the close button */
    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
      position: relative;
    }
    
    img.avatar {
      width: 40%;
      border-radius: 50%;
    }
    
    .container {
      padding: 16px;
    }
    
    span.psw {
      float: right;
      padding-top: 16px;
    }
    span.sin {
        
        padding-top: 30px;
      }
    
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      padding-top: 60px;
    }
    
    /* Modal Content/Box */
    .modal-content {
      background-color: #fefefe;
      margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
      border: 1px solid #888;
      width: 50%; /* Could be more or less, depending on screen size */
    }
    
    /* The Close Button (x) */
    .close {
      position: absolute;
      right: 25px;
      top: 0;
      color: #000;
      font-size: 35px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: red;
      cursor: pointer;
    }
    
    /* Add Zoom Animation */
    .animate {
      -webkit-animation: animatezoom 0.6s;
      animation: animatezoom 0.6s
    }
    
    @-webkit-keyframes animatezoom {
      from {-webkit-transform: scale(0)} 
      to {-webkit-transform: scale(1)}
    }
      
    @keyframes animatezoom {
      from {transform: scale(0)} 
      to {transform: scale(1)}
    }
    
    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
      span.psw {
         display: block;
         float: none;
      }
      .cancelbtn {
         width: 100%;
      }
    }